#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.top {
    height: 100px;
}

.page {
    height: 100%;
}

.bottom {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.button--error {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(170, 74, 51);
}
